---
title: Welcome to Atom-Man
---

<section class="style-2">
	<%= partial "shared/_style-menu" %>
	
	<section class="header">
		<div class="row">
			<div class="large-12 columns">
				<%= partial "shared/_logo" %>
				
				<%= partial "shared/_social" %>
				
				<%= partial "shared/_actions" %>
			</div>
		</div>
	
		<section class="full-nav">
			<div class="row">
				<nav class="large-12 columns">
					<%= partial "shared/_nav" %>
				</nav>
			</div>
		</section>
	</section>
	
	<div class="row">
		<div class="large-8 columns">
			<%= partial "shared/_article" %>
		</div>
	
		<div class="large-4 columns">
			<div class="inset">
				<%= partial "shared/_sidebar" %>
			</div>
			<%= partial "shared/_widget" %>
			</div>
	</div>
	
	<div class="row">
		<%= partial "shared/_3x-excerpt" %>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="large-8 medium-8 columns">
			<h5>Typography:</h5>
			
			<div class="row">
				<div class="large-12 columns rhythm">
					<p class="serif no-margin">Primary font: "Freight Micro Pro", Georgia, serif;</p>
					<p class="medium no-margin">Secondary font: "Proxima Nova", "Helvetica", "Arial", sans-serif;</p>
				</div>
			</div>
	
			<div class="row">
				<div class="large-12 columns rhythm">
					<%= partial "shared/_headers" %>
				</div>	
			</div>
		</div>
	
		<div class="large-4 medium-4 columns">
			<%= partial "shared/_colors" %>
			
			<h5>Buttons:</h5>	
			<a href="#" class="round button">Round Button</a><br/>
			
			<h5>Icons:</h5>
			<p><span class="icon-ribbon"></span></p>
			<p><span class="icon-image"></span></p>
			<p><span class="icon-signal"></span></p>
			<p><span class="icon-printer"></span></p>
		</div>
	</div>
	
	<%= partial "shared/_footer" %>

</section>
